.layout-node-form {
  .layout-region-node-main {
    width: 100%;
    &.close {
      width: 1px;
      margin-left: -40px;
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      margin-top: 66px;
      cursor: pointer;
      > * {
        display: none;
      }
      &:before {
        content: "Content";
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid;
        border-radius: 4px;
        padding: 10px;
      }
    }
  }
  .layout-region-node-secondary {
    width: 1px;
    margin-right: -1px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: 50px;
    cursor: pointer;
    .entity-meta {
      display: none;
    }
    &:before {
      content: "Meta";
      text-transform: uppercase;
      font-weight: bold;
      border: 1px solid;
      border-radius: 4px;
      padding: 10px;
    }
    &.open {
      &:before {
        display: none;
      }
      width: 100%;
      margin-right: 0px;
      margin-top: 0px;
      transform: none;
      cursor: default;

      .entity-meta {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 38em) {
  .layout-container {
    margin: 0 5em;
  }
}

body .field--name-field-text-block {
  .embedded-entity.align-left {
    padding: 0 20px 0 0;
    display: inline-block;
  }
  .embedded-entity.align-right {
    padding: 0 0 0 20px;
    display: inline-block;
  }
  .embedded-entity.align-center {
    padding: 0 20px;
    text-align: center;
  }
}

div[data-drupal-selector$='subform-field-projects-browser-form-actions'],
input[data-drupal-selector$='-actions-ief-entity-edit'],
div[data-drupal-selector$='-form-delete'] {
  display: none;
}
