// Hero carousel
//
// Components Hero carousel
//
// Markup: hero_carousel.twig
//
// Style guide: components.hero_carousel
.Carousel {
  width: 100%;
  .owl-nav {
    position: initial;
    height: auto;
    bottom: 0;
    background: transparent;
    color: transparent;
    width: 100%;
    display: block;
    overflow: hidden;
  }
  .owl-prev,
  .owl-next {
      height: 50px;
      width: 30px;
      background:rgba(17,23,25,0.20);
      position: absolute;
      font: normal normal normal 12px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 30px;
      bottom: 0;
      transition: all 0.30s ease-in-out;
      display: block;
      @media only screen and (min-width: $cl_sm) {
        display: none;
        height: 120px;
        width: 60px;
        font: normal normal normal 14px/1 FontAwesome;
      }
      @media only screen and (min-width: $cl_xl) {
        display: block;
        height: 182px;
        width: 91px;
      }
      &:before {
        width: 10px;
        height: 15px;
        background: transparent;
        display: block;
        color: $dark;
        margin: 17px auto;
        padding: 0;
        font-size: 18px;
        @media only screen and (min-width: $cl_sm) {
          margin: 45px auto;
          width: 20px;
          height: 30px;
        }
        @media only screen and (min-width: $cl_xl) {
          margin: 75px auto;
        }
      }
  }
  .owl-prev {
    left: 0px;
    border-radius: 0 120px 120px 0;
    @media only screen and (min-width: $cl_xl) {
      left: -40px;
      border-radius: 0 182px 182px 0;
    }
    &:hover {
      left: 0;
    }
    &:before {
      content: "\f053";
      margin-left: 5px;
      @media only screen and (min-width: $cl_sm) {
        margin-left: 13px;
      }
      @media only screen and (min-width: $cl_xl) {
        margin-left: 20px;
      }
    }
  }
  .owl-next {
    right: 0px;
    border-radius: 120px 0 0 120px;
    @media only screen and (min-width: $cl_xl) {
      right: -40px;
      border-radius: 182px 0 0 182px;
    }
    &:hover {
      right: 0;
    }
    &:before {
      content: "\f054";
      margin-right: 7px;
      @media only screen and (min-width: $cl_sm) {
        margin-right: 13px;
      }
      @media only screen and (min-width: $cl_xl) {
        margin-right: 20px;
      }
    }
  }
}
