<section class="Section">
  <div class="Carousel owl-carousel owl-theme">
    {% for banner in banners %}

      {%
        set banners_var = banner
      %}
      {% include "@clearlinux_theme/hero_image/hero_image.twig" with banners_var %}

    {% endfor %}
  </div>
</section>
