// Card
//
// Components Card
//
// Markup: card.twig
//
// Style guide: components.card
.Card {
  width: 100%;
  height: auto;
  background: $white;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    background: $white;
    border: solid 1px $grayish;
    box-shadow:0 5px 4px 0 rgba(0,0,0,0.09);
    min-height: 278px;
    max-width: 218px;
    margin-bottom: 25px;
    padding: 35px;
    @include span(24);
    @media only screen and (min-width: $cl_sm) {
      @include span(12);
    }
    @media only screen and (min-width: $cl_md) {
      @include span(8);
    }
    @media only screen and (min-width: $cl_lg) {
      @include span(6);
    }
  }
  &__title {
    text-align: center;
    margin: 0 auto 25px auto;
  }
  &__description {
    text-align: center;
    margin: 0 auto;
  }
}
