//colors
$dark: #0e1213;
$charcol: #3b404c;
$gastly: #626178;
$pantone_541: #003C71;
$intel: #0070c5;
$pantone_cyan: #00aeff;
$blue_light: #7DD2F7;
$venonat: #7B16FF;
$nidoran: #9463ff;
$wipinbell: #F3D64E;
$accent_color: #03DCA7;
$accent_color_light: #52F4A5;
$grayish: #d8d8d8;
$light_blue_gray: #F1F3F8;
$white: #ffffff;
$controls: #d8d8d8;
$containers: #9e00d9;
$submenu_hover: #b1e4fa;
$submenu_border: #dfe6eb;
$submenu_background: #f9fbff;
$border_footer: #979797;
$button: #22252d;
$button_disabled: #75758b;
$button_blue_disabled: #66a9dc;
$button_blue_hover: #338dd1;
$form_error: #e71d32;
$alert_title: #152934;
$alert_description: #5a6872;
$menu_border: #1faeeb;

//Font awesome
$fa-font-path: '../fonts/fontAwesome/';

//Intel font
$cl_intel_font-path: '../fonts/IntelFonts/fonts/';
$cl_intel_font-family: 'IntelClear-Regular', Helvetica, Arial, sans-serif;
$cl_intel_font-family-light: 'IntelClear-Light', Helvetica, Arial, sans-serif;
$cl_intel_font-family-bold: 'IntelClear-Bold', Helvetica, Arial, sans-serif;
$cl_intel_font-family-probold: 'IntelClearPro-Bold', Helvetica, Arial, sans-serif;

//Poppins font
$cl_poppins_font-path: '../fonts/poppins/';
$cl_poppins_font-family: 'Poppins-Regular', Helvetica, Arial, sans-serif;
$cl_poppins_font-family-medium: 'Poppins-Medium', Helvetica, Arial, sans-serif;
$cl_poppins_font-family-Light: 'Poppins-Light', Helvetica, Arial, sans-serif;
$cl_poppins_font-family-Bold: 'Poppins-Bold', Helvetica, Arial, sans-serif;
$cl_poppins_font-family-SemiBold: 'Poppins-SemiBold', Helvetica, Arial, sans-serif;

// susy configuration
$susy: (
  columns: 24,
  gutter-position: 'split',
  container: 1200px
);

// media query
$cl_mobile: 479px;
$cl_sm: 768px;
$cl_md: 992px;
$cl_lg: 1025px;
$cl_xl: 1200px;

// font size
$cl_font-size: 14px;
$cl_font-line-height: 18px;
@media only screen and (min-width: $cl_sm) {
  $cl_font-size: 16px;
  $cl_font-line-height: 20px;
}
@media only screen and (min-width: $cl_lg) {
  $cl_font-size: 18px;
  $cl_font-line-height: 22px;
}
$cl_font-color: $dark;

// include typography
@import "typography";
