// Table
//
// Components Table
//
// Markup: table.twig
//
// .zebra - Style 2- Zebra
// .column-to-highlight - Style 3- Emphasis column to highlight term
//
// Style guide: components.table
table {
  background: #fff;
  border: none;
  width: 100%;
  margin-bottom: 35px;
  width: 100%;
  min-width: 450px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  td, th {
    border-bottom: solid 1px #d8d8d8;
    font-family: 'IntelClear-Regular', Helvetica, Arial, sans-serif;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    height: 2.5em;
  }
  thead, tr:first-child {
    background-color: #fff;
    th {
      border-bottom: solid 2px #00aeff;
      font-family: 'IntelClear-Bold', Helvetica, Arial, sans-serif;
    }
  }
  &.zebra {
    tbody tr:nth-child(odd) {
       background-color: #F1F3F8;
    }
  }
  &.column-to-highlight {
    tbody tr {
      td:first-child {
        font-family: 'IntelClear-Bold', Helvetica, Arial, sans-serif;
        background-color: #F1F3F8;
      }
    }
  }
}
