// Article
//
// Base Article
//
// Markup: article.twig
//
// Style guide: base.articles
.Article {
  &__item {
    padding: 15px 0;
    background: $white;
    margin: 0;
    @include span(24);
  }
  &__category {
    text-transform: uppercase;
    font-family: $cl_intel_font-family;
    font-size: 1em;
    color: $pantone_cyan;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 10px;
    a {
      color: $pantone_cyan;
    }
  }
  &__title {
    font-family: $cl_poppins_font-family-SemiBold;
    font-size: 1.5em;
    color: $dark;
    letter-spacing: 0.21px;
    line-height: 32px;
    text-align: left;
    margin-bottom: 10px;
    a {
      color: $dark;
    }
  }
  &__date {
    font-family: $cl_intel_font-family-bold;
    font-size: 0.875em;
    color: $gastly;
    letter-spacing: 0.12px;
    text-align: left;
    margin-bottom: 20px;
  }
  &__description {
    color: $charcol;
    letter-spacing: 0.16px;
    line-height: 32ps;
    text-align: left;
    margin: 25px 0;
    &-body, &-components {
      @include span(12 of 12);
    }
    &-components {
      .Image {
        min-height: auto;
      }
    }
    &.sidebar {
      .Article__description-body {
        @include span(10 of 12);
      }
      .Article__description-components {
        @include span(2 of 12);
      }
    }
    ul, ol {
      display: block;
      text-align: left;
      font-size: 15px;
      li {
        //font-family: $cl_intel_font-family-bold;
        font-family: $cl_intel_font-family-light;
        font-size: 1em;
        line-height: 1.975em;
        color: $gastly;
        p {
          display: inline-block;
          margin: 0 0 0 5px;
          //font-family: $cl_intel_font-family-bold;
          font-size: 1em;
          line-height: 1em;
          //color: $charcol;
          color: $gastly;
        }
      }
    }

    ol {
      list-style-type: none;
      counter-reset: item;
      margin: 0;
      padding: 0;
      > li {
        display: table;
        counter-increment: item;
        &:before {
          content: counters(item, ".") ". ";
          display: table-cell;
          padding-right: 0.6em;
        }
        ol {
          li {
            font-family: $cl_intel_font-family;
            margin: 0;
            &:before {
              content: counters(item, ".") " ";
            }
          }
        }
      }
    }

    ul {
      list-style-type: none;
      counter-reset: item;
      margin: 0 0 0 20px;
      padding: 0;
      > li {
        display: table;
        counter-increment: item;
        &:before {
          font: normal normal normal 6px/1 FontAwesome;
          content: "\f111";
          display: inline-block;
          padding: 0;
          min-width: 15px;
          margin-top: -5px
        }
        ul {
          li {
            font-family: $cl_intel_font-family;
            margin: 0;
            &:before {
              font: normal normal normal 14px/1 FontAwesome;
              content: "-  ";
            }
          }
        }
      }
    }
  }
}

.block-views-blocktop-stories-sidebar-block-1 {
  .Article {
    &__item {
      border-top: solid 2px $grayish;
    }
  }
}
