
form {
  label {
    font-family: $cl_intel_font-family-bold;
    font-size: 0.9375em;
    line-height: 1.125em;
    color: $button;
    margin-bottom: 8px;
  }
  input[type="text"],
  input[type="password"], {
    font-family: $cl_intel_font-family;
    font-size: 0.9375em;
    color: $button_disabled;
    background: $light_blue_gray;
    padding: 11px 16px;
    width: auto;
    max-width: 418px;
    box-shadow: none;
    height: 40px;
    margin: 0;
    &.error {
      border: 0;
      border-bottom: solid 2px $form_error;
    }
  }
  input[type="submit"], button {
    text-decoration: none;
    letter-spacing: 1px;
    font-family: $cl_poppins_font-family-medium;
    padding: 10px;
    width: auto;
    border-radius: 20px;
    color: $white;
    background-color: $intel;
    border: none;
    min-width: 200px;
    &:hover {
      background-color: $button_blue_hover;
    }
    &:disabled {
      background-color: $button_blue_disabled;
    }
  }
  .form-item {
    margin: 0 0 25px 0;
    .description {
      font-family: $cl_poppins_font-family;
      font-size: 0.75em;
      color: $button;
      letter-spacing: 0.55px;
      line-height: 0.875em;
      margin-top: 5px;
    }
  }
  &.user-login-form, &.user-pass {
    max-width: 90%;
    margin: 25px auto;
    @media only screen and (min-width: $cl_xl) {
      @include container();
    }
    p {
      margin: 0 0 25px 0;
      font-family: $cl_poppins_font-family;
      font-size: 0.75em;
      color: $button;
      letter-spacing: 0.55px;
      line-height: 0.875em;
      margin-top: 5px;
    }
  }
}
