// Headlines
//
// Base Headlines
//
// Markup: headlines.twig
//
// Style guide: base.headlines
.Headlines {
  background-image:linear-gradient(90deg, $pantone_cyan 3%, #35bff1 46%, #86e0b9 88%);
  width: 100%;
  height: 120px;
  &-breadcrumb {
    height: 50px;
    .breadcrumb {
      @media only screen and (min-width: $cl_md) {
        @include span(24);
      }
      ol {
        list-style-type: none;
        padding: 10px 0;
        li {
          display: inline-block;
          width: auto;
          color: $white;
          &::after {
            content: "/";
            margin: 0 10px;
            display: inline-block;
          }
          &:last-child {
            &::after {
              content: "";
            }
            a {
              cursor: default;
            }
          }
          a {
            width: auto;
            text-decoration: none;
            color: $white;
            font-size: 0.9375em;
            letter-spacing:0.19px;
            line-height:30px;
          }
        }
      }
    }
  }
  &__title {
    padding: 37px 0;
    color: $white;
  }
}
