// Lists
//
// Base Lists
//
// Markup: list.twig
//
// Style guide: base.lists
ul, ol {
  text-align: left;
}
ul {
  display: block;
  li {
    font-family: $cl_intel_font-family-bold;
    font-size: 1em;
    line-height: 1.5em;
    ul {
      list-style-type: none;
      li {
        &:before {
          content: "-";
          text-indent: -5px;
          margin-right: 10px;
        }
        text-indent: -5px;
        font-family: $cl_intel_font-family;
      }
    }
  }
}
