.messages {
  border-style: solid;
  border-width: 1px;
  padding: 10px 0;
  border-color: $wipinbell;
  display: flex;
  color: $alert_description;
  border-left: solid 5px $wipinbell;
  max-width: 90%;
  margin: 25px auto;
  @media only screen and (min-width: $cl_xl) {
    @include container();
  }
  &--error {
    color: $form_error;
    border-color: $form_error;
    border-left: solid 5px $form_error;
  }
  &--status {
    color: $accent_color;
    border-color: $accent_color;
    border-left: solid 5px $accent_color;
  }
  &-ico {
    padding: 0 15px 0 25px;
    font-size: 1.25em;
  }
  &-body {
    display: flex;
    align-items: center;
    &.column {
      flex-direction: column;
      h2 {
        margin: 0 10px 5px 0;
      }
    }
    h2, p {
      font-size: 0.875em;
      line-height: 1.125em;
    }
    h2 {
      font-family: $cl_intel_font-family-bold;
      color: $alert_title;
      margin: 0 10px 0 0;
    }
    p {
      color: $alert_description;
      a {
        font-family: $cl_intel_font-family-bold;
        color: $alert_description;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          margin: 5px 0 0 0;
        }
      }
    }
  }
}
