// Page
//
// Base Page
//
// Markup: page.twig
//
// Style guide: base.page
.Page {
  width: 100%;
  padding: 15px 0;
  background: $white;
  margin: 0;
  &__title {
    font-family: $cl_poppins_font-family-Light;
    font-size: 3em;
    color: $pantone_cyan;
    letter-spacing: -0.64px;
    line-height: 60px;
    margin-bottom: 25px;
    max-width: 640px;
  }
  &__description {
    font-family: $cl_intel_font-family-light;
    font-size: 1.3125em;
    color: $gastly;
    letter-spacing: 0.16px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 30px;
  }
}
