<div class="container">
  <div class="Article">
    <div class="Article__item">
      <h5 class="Article__category">Category</h5>
      <h1 class="Article__title">Making a faster Web: The renewal of PHP 7 and beyond</h1>
      <p class="Article__date">April 2017 by Víctor</p>
      <p class="Article__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#" class="Button Button-no_hover">Continue reading</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="Article">
    <div class="Article__item">
      <h5 class="Article__category">Category</h5>
      <h1 class="Article__title">Making a faster Web: The renewal of PHP 7 and beyond</h1>
      <p class="Article__date">April 2017 by Víctor</p>
    </div>
  </div>
</div>
