<div class="Page">
  <div class="Page__item">
    <h1 class="Page__title">Title of a heroe card view  of a simple page</h1>
    <p class="Page__description">
      #Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Ali. #Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor. #Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Ali
    </p>
    <a href="#" class="Button Button-blue">Continue reading</a>
  </div>
</div>
