// Top stories
//
// Components Top Stories
//
// Markup: top_stories.twig
//
// Style guide: components.top_stories
.Top {
  width: 100%;
  min-height: 185px;
  height: auto;
  margin:  0;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &-white {
    color: $white;
    margin-top: 90px;
  }
  &__container, .owl-stage-outer, .owl-stage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .owl-nav {
      .disabled {
        display: none;
      }
    }
  }
  &__title {
    font-family: $cl_intel_font-family-light;
    font-size: 1.875em;
    font-weight: 100;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    a {
      color: $dark;
    }
    &-main {
      margin-bottom:31px;
      float: left;
      width: span(6 of 6);
      margin-left: gutter(of 6);
    }
  }
  &__subtitle {
    font-family: $cl_intel_font-family-light;
    font-size: 1.125em;
    letter-spacing: 0.16px;
  }
  &__item {
    padding: 0 10px;
    &:nth-child(2) {
      &:before, &:after {
        position: absolute;
        width: 1px;
        height: 70%;
        background: $white;
        top: 15%;
        content: "";
        display: block;
      }
      &:before {
        left: -10%;
      }
      &:after {
        right: 0;
      }
    }
  }
  &__description {
    font-family: $cl_intel_font-family-bold;
    font-size: 1em;
    margin: 15px 0;
    width: 100%;
    @media only screen and (min-width: $cl_sm) {
      width: 90%;
    }
  }
}
