// Two columns
//
// Components Two columns
//
// Markup: two_columns.twig
//
// Style guide: components.two_columns
.Column {
  width: 100%;
  overflow: hidden;
  margin-top: 25px;
  &__item {
    @include span(6 of 6)
    margin-left: 0!important;
    &:nth-child(2) {
      margin-right: 0!important;
    }
    @media only screen and (min-width: $cl_sm) {
      @include span(3 of 6)
    }
    .Text {
      padding: 0;
      width: auto;
      .container {
        width: 100%;
        max-width: 100%;
      }
      &__title, &__description {
        text-align: left;
        margin: 20px 0 0 0;
      }
      &__title {
        font-size: 1.375em;
      }
      &__description, p {
        font-size: 1em;
        line-height: 1.5625em;
      }
    }
    .Image {
      min-height: auto;
      &__item {
        margin: 20px 0 0 0;
      }
    }
  }
}
