{{ attach_library('two_columns') }}

<div class="Title">
  <div class="container">
    <h1>{{ title }}</h1>
  </div>
</div>


<div class="Column">
  <div class="container">
    <div class="Column__item">
      {{ first_column }}
    </div>

    <div class="Column__item">
      {{ second_column }}
    </div>
  </div>
</div>
