{{ attach_library('block_image') }}

<div class="Image">
  <h2 class="Text__title">{{ title }}</h2>
  <div class="Image__item">
    <div class="Image__top">
      <img src="{{ image }}" alt="{{ description }}"/>
    </div>
    <div class="Image__description">
      <p>
         {{ description }}
      </p>
    </div>
  </div>
</div>
