{# include dynamic_block component template #}
{% if view_id == 'top_projects' %}

  {{ attach_library('clearlinux_theme/top_stories') }}
  <div class="Top">
    <div class="container">
      <h2 class="Top__title Top__title-main">{{ content.field_title }}</h2>
    </div>
    <div class="container">
        {{ content.field_dynamic_content }}
    </div>
  </div>
{% else %}
  {%
  	  set classes = [
  	    'paragraph',
  	    'paragraph--type--' ~ paragraph.bundle|clean_class,
  	    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  	  ]
  	%}

  	{% block paragraph %}
  	  <div{{ attributes.addClass(classes) }}>
  	    {% block content %}
  	      {{ content }}
  	    {% endblock %}
  	  </div>
  	{% endblock paragraph %}
{% endif %}
