{# include two_columns component template#}
{%
  include '@clearlinux_theme/two_columns/two_columns.twig' with {
    title: content.field_title,
    first_column: content.field_column_one,
    second_column: content.field_column_two
  }
%}
