{{ attach_library('clearlinux_theme/community') }}

{% set size = content.field_community_['#items']|length %}
{% set community = {} %}
{% for key, s in 0..size - 1 %}
  {% set community = community|merge(
    [{
      title: content.field_community_[s]['#paragraph'].field_title.value,
      ico: content.field_community_[s]['#paragraph'].field_fa_icon.0.value,
      summary: content.field_community_[s]['#paragraph'].field_subheader.0.value,
      link_title: content.field_community_[s]['#paragraph'].field_link.0.value.title,
      link: content.field_community_[s]['#paragraph'].field_link.0.value.uri
    }]
  )
  %}
{% endfor %}
{%
  include '@clearlinux_theme/community/community.twig' with {
    community: community
  }
%}
