// Call to action
//
// Components Call to action
//
// Markup: call_to_action.twig
//
// .Button-blue - Use this class to display a blue button
// .Button__primary - Use this class to display a button with background.
// .Button__primary-blue - Use this class to display a button with background blue.
// .Button__secondary - Use this class to display a button with border.
// .Button__secondary-blue - Use this class to display a button with border blue.
//
// Style guide: components.call_to_action
.Button, a {
  color: $button;
  display: inline-block;
  margin: 0;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: 1px;
  font-family: $cl_poppins_font-family-medium;
  width: auto;
  text-decoration: none;
  &:focus,
  &:visited {
      outline: none;
  }
  &:hover {
    //color: $white;
    //background-color: $dark;
    text-decoration: underline;
  }
  &:disabled {
    color: $button_disabled;
    i {
      color: $button;
    }
  }
  &-blue {
    color: $intel;
    &:hover {
      background-color: $intel;
    }
    &:disabled {
      color: $button_blue_disabled;
    }
  }
  &__primary {
    background-image: none;
    border: 2px solid transparent;
    background-color: $dark;
    color: $white;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    vertical-align: middle;
    text-decoration: none;
    i {
      color: $white;
    }
    &:hover {
      background-color: $charcol;
      color: $white;
      text-decoration: none;
    }
    &:disabled {
      background-color: $button_disabled;
    }
    &-blue {
      color: $white;
      background-color: $intel;
      &:hover {
        background-color: $button_blue_hover;
        text-decoration: none;
      }
      &:disabled {
        background-color: $button_blue_disabled;
      }
    }
  }
  &__secondary {
    border: solid 2px $dark;
    &:hover {
      background-color: $dark;
      color: $white;
    }
    &:disabled {
      border-color: $button_disabled;
      color: $button_disabled;
    }
    &-blue {
      border: solid 2px $intel;
      color: $intel;
      &:hover {
        background-color: $intel;
        color: $white;
      }
      &:disabled {
        color: $button_blue_disabled;
      }
    }
  }
}
