// Tabs
//
// Components Tabs
//
// Markup: tabs.twig
//
// Style guide: components.tabs

.Tabs {
  width: 100%;
  background: transparent;
  &__header {
    width: 100%;
    padding: 0;
  }
  &__nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      width: 100%;
      @media only screen and (min-width: $cl_md) {
        width: auto;
      }
      a {
        display: block;
        padding: 29px;
        border-width: 0 0 7px 0;
        border-color: transparent;
        border-style: solid;
        color: $gastly;
        letter-spacing: 2.25px;
        font-size: 1.125em;
        text-align: center;
        width: auto;
        text-decoration: none;
      }
      &.active,
      &:hover {
        a {
          border-color: $intel;
          color: $dark;
        }
      }
    }
  }
  &__body {
    width: 100%;
    background: $white;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.13);
    border-top: solid 2px $grayish;
    overflow: hidden;
    padding: 75px 0;
    margin: -2px 0 0 0;
  }
}
