{{ attach_library('tabs') }}
<div class="Tabs">
  <div class="Tabs__header">
    <div class="container">
      <ul class="Tabs__nav">
        {% for header in headers %}
          <li class="{{ header.slug == 'ciao' ? 'active' : '' }}"><a href="# {{ header.slug }}">{{ header.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="Tabs__body">
    <div class="container">
      {%
        set vars = {
          "items": items
        }
      %}
      {% include "../card/card.twig" with vars%}
    </div>
  </div>
</div>
