<div class="Main">
  <div class="Main__page_standar" {{ attributes.setAttribute('id', 'pg__c') }}>
    <div id="page-inner-wrapper" class="Main__inner_wrapper">
      <div id="header-wrapper">
        <div class="header-inner-wrapper">
          <!-- ______________________ BRANDING _______________________ -->

          <!-- ______________________ HEADER _______________________ -->
          <header id="branding" class="Header">
              <!-- ______________________ NAVIGATION _______________________ -->
              <div class="Header__container Header__container-submenu">
                {% if page.navigation %}
                    {{ page.navigation }}
                {% endif %}
              </div>
              <!-- /navigation -->


              {% if page.branding %}
                {{ page.branding }}
              {% endif %}

          </header>
          <!-- /branding -->
          <!-- /header -->
        </div>
      </div>

      <!-- ______________________ Pre content _______________________ -->
      {% if page.pre_content %}
        <div class="Headlines Headlines-breadcrumb">
          <div class="container">
            {{ page.pre_content }}
          </div>
        </div>
      {% endif %}

      <!-- ______________________ MAIN _______________________ -->

      <div class="clearfix" id="main">
          <div class="Main__main {{ (page.sidebar_first or page.sidebar_second) ? 'Main__main-container' : ''}}">

              {% if page.sidebar_first %}
                  <aside class="sidebar-first sidebars Main__main-sidebar" id="sidebar-first">
                      {{ page.sidebar_first }}
                  </aside>
              {% endif %}
              <!-- /sidebar-first -->

              <section class="Main__main-content {{ (page.sidebar_first or page.sidebar_second) ? 'Main__main-content_sidebar' : ''}}">

                  {% if breadcrumb or title or messages or tabs or action_links %}
                      <div id="content-header">

                          {{ breadcrumb }}

                          {% if page.highlighted %}
                              <div id="highlighted">{{ page.highlighted }}</div>
                          {% endif %}

                          {{ title_prefix }}

                          {% if title %}
                              <h1 class="title">{{ title }}</h1>
                          {% endif %}

                          {{ title_suffix }}
                          {{ messages }}
                          {{ page.help }}

                          {% if tabs %}
                              <div class="tabs">{{ tabs }}</div>
                          {% endif %}

                          {% if action_links %}
                              <ul class="action-links">{{ action_links }}</ul>
                          {% endif %}

                      </div>
                      <!-- /#content-header -->
                  {% endif %}

                  <div id="content-area">
                      {{ page.content }}
                  </div>

                  {{ feed_icons }}

              </section>
              <!-- /content-inner /content -->

              {% if page.sidebar_second %}
                  <aside class="sidebar-second sidebars Main__main-sidebar" id="sidebar-second">
                      {{ page.sidebar_second }}
                  </aside>
              {% endif %}
              <!-- /sidebar-first -->

          </div>
          <!-- /cog--mq -->
      </div>
      <!-- /main -->

      <!-- ______________________ Post content _______________________ -->

    </div>

      <!-- ______________________ FOOTER _______________________ -->

      {% if page.footer %}
          <footer id="footer" class="Footer">
              <div class="Footer__top">
                <div class="container Footer__container">
                  {{ page.footer }}
                </div>
              </div>

              {% if page.post_content %}
                <div class="Footer__middle">
                  <div class="container">
                    {{ page.post_content }}
                  </div>
                </div>
              {% endif %}
          </footer>
          <!-- /footer -->
      {% endif %}

  </div>
  <!-- /page -->
</div>
