html, body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: $cl_poppins_font-family;
  font-size: $cl_font-size;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $cl_font-line-height;
  color: $cl_font-color;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 150ms ease-in-out;
  width: 100%;
}
html {
  &.active {
    margin-left: 250px;
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  line-height: normal;
}
h3,
h4,
h5 {
  font-family: $cl_poppins_font-family-SemiBold;
}

h1 {
  font-family: $cl_poppins_font-family-Light;
  font-size: 2.25em;
  letter-spacing: -0.64px;
}

h2 {
  font-size: 1.875em;
  letter-spacing: -0.54px;
}

h3 {
  font-size: 1.25em;
  letter-spacing: 0.21px;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1.025em;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-family: $cl_intel_font-family-light;
  color: $gastly;
  letter-spacing: 0.16px;
  font-size: 1em;
  line-height: 1.5625em;
  margin: 10px 0;
  a {
    font-family: $cl_intel_font-family;
    font-size: 1em;
    color: $intel;
  }
}
.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  @media only screen and (min-width: $cl_xl) {
      @include container();
  }
}

.Section {
  margin: 0;
}

.block-views-blocktop-stories-sidebar-block-1 {
  h2 {
    font-size: 1em;
    font-family: $cl_poppins_font-family-Light;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
}


.owl-nav {
  position: absolute;
  width: 100%;
  top: 47%;
  .owl-prev, .owl-next {
    color: transparent;
    width: 10px;
    text-align: center;
    position: absolute;
    &:before {
      font: normal normal normal 16px/1 FontAwesome;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $dark;
    }
  }
  .owl-prev {
    left: 0;
    &:before {
      content: "\f053";
    }
  }
  .owl-next {
    right: 0;
    &:before {
      content: "\f054";
    }
  }
}
