// Forms
//
// Base form elements.
//
//
form {
  margin: 0 0 1em;
  &[block="block-clearlinux-theme-search"] {
    margin-top: 25px;
    input[type="text"]{
      max-width: 100%;
      width: 100%;
    }
    .form-actions{
      text-align: center;
    }
  }
}
label {
  margin: 0;
  display: inline-block;
  color: $light_blue_gray;
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 0.1875em;
}
input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  border-radius: 0;
  background-color: $white;
  font-family: inherit;
  border: 1px solid $light_blue_gray;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
  box-shadow: 0 0 5px $light_blue_gray;
  border-color: $light_blue_gray;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
  background: $light_blue_gray;
  border-color: $light_blue_gray;
  outline: none;
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
textarea[disabled] {
  background-color: $charcol;
}
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em;
}
input[type="file"] {
  width: 100%;
}
fieldset {
  border: solid 1px $charcol;
  padding: 1.25em;
  margin: 1.125em 0;
}
fieldset legend {
  font-weight: bold;
  background: #fff;
  padding: 0 0.1875em;
  margin: 0;
  margin-left: -0.1875em;
}
// Error conditions ////////////////////////////
.error
.error textarea,
.error select {
  border-color: $accent_color;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}
.error input:focus,
.error textarea:focus,
.error select:focus {
  background: $light_blue_gray;
  border-color: $light_blue_gray;
}
.error label,
.error label.error {
  color: $accent_color;
}
.error > small,
.error small.error {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: $accent_color;
  color: #fff;
}
.error span.error-message {
  display: block;
}
input.error,
textarea.error {
  border-color: $accent_color;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}
input.error:focus,
textarea.error:focus {
  background: $light_blue_gray;
  border-color: $light_blue_gray;
}
.error select {
  border-color: $accent_color;
  background-color: rgba(198, 15, 19, 0.1);
}
.error select:focus {
  background: $light_blue_gray;
  border-color: $light_blue_gray;
}
label.error {
  color: $accent_color;
}
// Form HTML5
//
//
// Style guide: form.html5
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  border-radius: 0;
  background-color: $white;
  font-family: inherit;
  border: 1px solid $light_blue_gray;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
  box-shadow: 0 0 5px $light_blue_gray;
  border-color: $light_blue_gray;
}
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
  background: $light_blue_gray;
  border-color: $light_blue_gray;
  outline: none;
}
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled] {
  background-color: $charcol;
}
