// Secondary link
//
// Components Secondary link
//
// Markup: secondary_link.twig
//
// Style guide: components.secondary_link
.Secondary {
  color: $white;
  margin: 20px 0 0 0;
  display: block;
  line-height: 16px;
  a {
    font-family: $cl_poppins_font-family-SemiBold;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
