@mixin button-size($padding-v: 0, $padding-h: 0, $font-family: $cl_poppins_font-family, $font-size: '16px', $color: $white, $line-h: 30px, $border-r: 20px) {
  padding: $padding-v $padding-h;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-h;
  border-radius: $border-r;
  color: $color;
}
