.Header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: $white;
  display: flex;
  flex-direction: column-reverse;
  @media only screen and (min-width: $cl_sm) {
    flex-direction: column;
  }
  &__container {
    padding: 0 10px;
    &-submenu {
      height: 0;
      background-color: $button;
      overflow: auto;
      transition: all 0.6s ease-in-out;
      z-index: 10;
      &-active {
        height: 191px;
        margin-top: -40px;
        @media only screen and (min-width: $cl_sm) {
          height: 90px;
          margin-top: 0;
        }
      }
    }
    &-nav {
      height: 97px;;
      background-color: $white;
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
      }
      @media only screen and (min-width: $cl_lg) {
        height: 57px;
      }
    }
  }
  &__title, .block-system-branding-block {
    width: auto;
    float: left;
    vertical-align: sub;
    text-align: left;
    padding: 15px 0;
    h4 {
      a {
        font-family: $cl_intel_font-family-bold;
        font-size: 1.125em;
        color: $dark;
        &:hover {
          text-decoration: none;
        }
      }
    }
    @media only screen and (min-width: $cl_sm) {
      text-align: center;
      padding: 16px 25px 16px 0px;
    }
  }
  .block-system-branding-block  {
    padding: 0;
  }
  &__choose {
    &-text, &-ico {
      background-color: $dark;
      height: auto;
      color: $white;
      height: 100%;
      max-height: 57px;
    }
    &-text {
      float: right;
      display: none;
      align-items: center;
      width: 100%;
      margin: 0;
      position: absolute;
      height: 50px;
      top: 57px;
      left: 0;
      @media only screen and (min-width: $cl_sm) {
        width: auto;
        margin: 0  0 0 20px;
        float: left;
        position: initial;
        height: 57px;
        display: flex;
        p {
          margin: 0 20px;
        }
      }
      &.project-in {
        display: flex;
      }
      p {
        margin: 0;
        color: $white;
        margin: 0 auto;
        @media only screen and (min-width: $cl_sm) {
          display: inline-block;
          margin: 0 20px;
        }
        b, strong {
          font-family: $cl_intel_font-family-bold;
        }
      }

    }
    &-ico {
      float: right;
      margin-left: auto;
      margin-right: -10px;
      @media only screen and (min-width: $cl_sm) {
        float: left;
        margin-right: 0;
      }
      i {
        display: inline-block;
        padding: 22px 20px;
        cursor: pointer;
        &.active {
          &:before {
              content: $fa-var-chevron-up;
          }
        }
      }
    }
  }
  &__search {
    float: right;
    padding: 12px 0;
    i {
      font-size:  2.125em;
      margin:0 15px;
      @media only screen and (min-width: $cl_sm) {
        margin:0 25px;
      }
    }
    input {
      display: none;
      vertical-align: super;
      padding: 8px 10px;
    }
  }
  &__submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $button;
    font-size: 16px;
    @media only screen and (min-width: $cl_md){
        margin-left: 220px;
    }
    li {
      display: block;
      padding: 20px 0;
      width: 100%;
      border-bottom: solid 2px $button_disabled;
      @media only screen and (min-width: $cl_sm){
        padding: 32px 15px 32px 0;
        display: inline-block;
        width: 27%;
        border-bottom: 0;
        border-right: solid 2px $button_disabled;
        &:last-child {
          border-right: 0;
        }
      }
      @media only screen and (min-width: $cl_md){
          padding: 32px 20px 32px 0;
      }
      a {
        display: block;
        text-decoration: none;
        color: $light_blue_gray;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        font-size: 0.875em;
        font-family: $cl_intel_font-family-light;
        b, strong {
          font-family: $cl_intel_font-family-bold;
        }
        @media only screen and (min-width: $cl_sm){
          text-align: left;
        }
      }
    }
  }
  &__main {
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.32);
    @media only screen and (min-width: $cl_xl) {
      width: auto;
      box-shadow: none;
      position: initial;
    }
    li {
      font-size: 16px;
      text-align: center;
      display: inline-block;
      margin: 0 5px;
      &:first-child {
        margin-left: 10px;
      }
      @media only screen and (min-width: $cl_sm) {
        margin: 0 15px;
      }
      a {
        font-family: $cl_intel_font-family;
        font-size: 0.6875em;
        width: 100%;
        height: 100%;
        color: $dark;
        display: block;
        &:hover, &.active {
          color: $gastly;
        }
        @media only screen and (min-width: $cl_sm) {
          font-size: 0.875em;
        }
        @media only screen and (min-width: $cl_lg) {
          font-size: 1em;
        }
      }
    }
  }
}


#block-clearlinux-theme-account-menu {
  display: none;
}

.nodetype--project {
  .Header {
    &__container{
        &-nav {
          height: 147px;
          @media only screen and (min-width: $cl_sm) {
            height: 97px;
          }
          @media only screen and (min-width: $cl_lg) {
            height: 57px;
          }
        }
    }
    &__main {
      top: 107px;
      @media only screen and (min-width: $cl_sm) {
        top: 57px;
      }
    }
  }
}
