<header class="Header">
  <div class="Header__top">
    <div class="Header__container Header__container-top">
      <ul class="Header__nav">
        <li>
          <a href="">
            <i class="fa fa-home"></i> Clear Technologies
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-github"></i> Github
          </a>
        </li>
      </ul>

      <ul class="Header__nav Header__nav-right">
        <li><a href="">Sign in</a></li>
        <li><a href="">Contact us</a></li>
      </ul>
    </div>
  </div>

  <div class="Header__bottom">
    <div class="Header__container">
      <div class="Header__container Header__container-left">
        <ul class="Header__nav Header__nav-submenu Header__nav-submenu_technologies">
          <!--SUBMENU-->
          <li>
            <a href="" id="ico-open-menu"><i class="fa fa-bars"></i></a>
            <ul>

              <div class="top">
                <div class="top__close">
                  <i class="fa fa-close" id="ico-close-menu"></i>
                </div>
                <div class="top__title">
                  <h5><strong>Clear </strong>Technologies</h5>
                </div>
              </div>

              <li><a href="" class="submenu_header active"><strong>Clear Linux*</strong> Project <i class="menu_arrow"></i></a>
                <ul>
                  <li><a href="" class="active">Home</a></li>
                  <li><a href="">Documentation</a></li>
                  <li><a href="">Tutorials</a></li>
                  <li><a href="">Blogs</a></li>
                  <li><a href="">Community</a></li>
                </ul>
              </li>

              <li><a class="submenu_header" href=""><strong>Clear Linux*</strong> Project <i class="menu_arrow"></i></a>
                <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">Documentation</a></li>
                  <li><a href="">Tutorials</a></li>
                  <li><a href="">Blogs</a></li>
                  <li><a href="">Community</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="Header__nav Header__nav-title ">
          <li>
            <a href="">
              <i class="Header__logo Header__logo-clear_technologies"></i> <strong>Clear</strong> Technologies
            </a>
          </li>
        <ul>
      </div>

      <div class="Header__container Header__container-right">
        <ul class="Header__nav Header__nav-right Header__nav-right_main">
          <li><a>Home</a></li>
          <li><a>Documentation</a></li>
          <li><a>Tutorials</a></li>
          <li><a>Blogs</a></li>
          <li><a>Community</a></li>
        </ul>
        <div class="Header__search">
          <a href=""><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
