code {
  &.hljs{
    min-width: 500px;
    width: 100%;
    overflow-x: scroll;
    height: auto;
    padding: 10px 10px 10px 30px;
    position: relative;
    text-align: left;
    &:before {
      color: $intel;
      content: "\f0c5";
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      left: 7px;
      top: 12px;
      font-size: 1.025em;
      cursor: pointer;
    }
    &:after {
      color: $dark;
      background: rgba(241,243,248,0.8);
      padding: 5px 10px;
      position: absolute;
      top: 5px;
      left: 30px;
      content: "Copied";
      display: none;
    }
    @media only screen and (min-width: $cl_sm) {
      min-width: 100%;
    }
    &.active {
      &:after {
        display: block;
      }
    }
  }
}
