// Table
//
// Components Table
//
// Markup: table.twig
//
// .zebra - Style 2- Zebra
// .column-to-highlight - Style 3- Emphasis column to highlight term
//
// Style guide: components.table

table {
  background: $white;
  border: none;
  width: 100%;
  margin-bottom: 35px;
  width: 100%;
  min-width: 450px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  td, th {
    border-bottom: solid 1px $grayish;
    font-family: $cl_intel_font-family;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    height: 2.5em;
    color: $charcol;
  }
  thead, tr:first-child {
    background-color: $white;
    th {
      border-bottom: solid 2px $pantone_cyan;
      font-family: $cl_intel_font-family-bold;
    }
  }
  &.zebra {
    tbody tr:nth-child(odd) {
       background-color: $light_blue_gray;
    }
  }
  &.column-to-highlight {
    tbody tr {
      td:first-child {
        font-family: $cl_intel_font-family-bold;
        background-color: $light_blue_gray;
      }
    }
  }
}
