{% set category = content.field_category['#items']|length %}
<div class="Article__item">
  <div class="container">
    {% if category >= 1 %}
      <h5 class="Article__category">
    {% for item,s in 0..category - 1 %}
      {% if loop.last %}
        {% set separator = '' %}
      {% else %}
        {% set separator = ',' %}
      {% endif %}
      {{ content.field_category[s]['#plain_text'] }}{{ separator }}
    {% endfor %}
      </h5>
    {% endif %}
    <h1 class="Article__title">{{ content.title }}</h1>
    <p> {{ content.field_subheader }}</p>
    <p class="Article__date">{{ date }} by {{ author_name }}</p>
  </div>
</div>
