{%
  include '@clearlinux_theme/top_stories/top_stories.twig' with {
    item: {
      title: content.title|field_value,
      subheader: content.field_subheader|field_value,
      description: content.field_summary|field_value
    }
  }
%}
