{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'Article__item',
not node.published ? 'node--unpublished'
] %}
{% set category = content.field_category['#items']|length %}

  <div class="container">
    <div {{ attributes.addClass(classes) }}>
      {% if category >= 1 %}
        <h5 class="Article__category">
        {% for item,s in 0..category - 1 %}
          {% if loop.last %}
            {% set separator = '' %}
          {% else %}
            {% set separator = ',' %}
          {% endif %}
          {{ content.field_category[s]['#title'] }}{{ separator }}
        {% endfor %}
        </h5>
      {% endif %}
        <h1 class="Article__title">{{ content.title }}{{ separator }}</h1>
        <p class="Article__date">{{ date }} by {{ author_name }}</p>
        {{ drupal_plugin_block('sharethis_widget_block') }}
        {% set paragraph_items = content.field_sidebar['#items']|length %}
        {% set sidebarClass = '' %}
            {% if paragraph_items > 0 %}
              {% set sidebarClass = "sidebar" %}
            {% endif %}
        <div class="Article__description {{ sidebarClass }}">
          <div class="Article__description-body">{{ content.body }} {{ content.field_components }}</div>
          <div class="Article__description-components">{{ content.field_sidebar }}</div>
        </div>
   </div>
  </div>
