// Footer
//
// Layout Footer
//
// Markup: footer.twig
//
// Style guide: layout.footer
.Footer {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  width: 100%;
  &__top {
    width: 100%;
    min-height: 320px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__middle {
    width: 100%;
    text-align: center;
    border-width: 2px 0;
    border-style: solid;
    border-color: $border_footer;
    ul {
      text-align: center;
      li {
        display: inline-block;
        width: 100%;
        @media only screen and (min-width: $cl_mobile) {
          width: auto;
        }
        a {
          display: block;
          width: auto;
          padding: 10px 20px;
          text-transform: uppercase;
          text-decoration: none;
          font-family: $cl_poppins_font-family-medium;
          font-size: 0.875em;
          color: $white;
        }
      }
    }
  }
  &__bottom {
    text-align: center;
    p {
      width: 100%;
      max-width: 475px;
      display: block;
      margin: 0 auto;
      padding: 25px 0;
      color: $white;
      text-transform: uppercase;
      font-family: $cl_poppins_font-family-medium;
      font-size: 0.875em;
    }
  }
  &__container, .region-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: $cl_md) {
      justify-content: space-between;
    }
    .region-footer {
      width: 100%;
    }
  }

  &__item {
    min-height: auto;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: $border_footer;
    width: 90%;
    padding: 20px 0;
    margin-bottom: 20px;
    position: relative;
    display: block;
    @media only screen and (min-width: $cl_sm) {
      min-height: 250px;
      width: 40%;
    }
    @media only screen and (min-width: $cl_md) {
      margin-bottom: 0px;
      padding: 0;
      min-height: 230px;
      border-width: 0 2px 0 0;
      width: calc(25% - 30px);
    }
    &:last-child {
      border-color: transparent;
      @media only screen and (min-width: $cl_sm) {
        border-color: $border_footer;
      }
      @media only screen and (min-width: $cl_md) {
        border-color: transparent;
      }
    }
    h3 {
      font-size: 1.25em;
      color: $white;
      line-height: 1.875em;
      margin-bottom: 15px;
    }
    ul {
      list-style-type: none;
      li {
        display: block;
        a {
          text-align: left;
           white-space: pre-wrap; /* css-3 */
           white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
           white-space: -pre-wrap; /* Opera 4-6 */
           white-space: -o-pre-wrap; /* Opera 7 */
           word-wrap: break-word; /* Internet Explorer 5.5+ */
          i {
            width: 10px;
            margin-right: 25px;
          }
          font-family: $cl_poppins_font-family-medium;
          font-size: 0.9375em;
          color: $white;
          letter-spacing: 0.19px;
          line-height: 2.25em;
          text-decoration: none;
          &::before {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 1.25em;
            display: inline-block;
            width: 1.5em;
            text-align: center;
            margin-right: 22px;
            color: $white;
          }
          &.facebook {
            &::before {
              content: "\f09a";
            }
          }
          &.twitter {
            &::before {
              content: "\f099";
            }
          }
          &.linkedin {
            &::before {
              content: "\f0e1";
            }
          }
          &.github {
            &::before {
              content: "\f09b";
            }
          }
          &.rss {
            &::before {
              content: "\f09e";
            }
          }
        }
      }
    }
  }
}
