<footer class="Footer">
  <div class="Footer__top">
    <div class="container Footer__container">
      <div class="Footer__item">
        <h3>Explore clear Linux Project</h3>
        <ul>
          <li><a href="#">The latest</a></li>
          <li><a href="#">Releases</a></li>
          <li><a href="#">Developer Blog</a></li>
          <li><a href="#">Use cases</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="#">Community</a></li>
        </ul>
      </div>

      <div class="Footer__item">
        <h3>Follow Clear Linux Project</h3>
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
          <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
          <li><a href="#"><i class="fa fa-github"></i>Github</a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i>Linkedin</a></li>
          <li><a href="#"><i class="fa fa-rss"></i>Get project updates</a></li>
        </ul>
      </div>

      <div class="Footer__item">
        <h3>Other projects</h3>
        <ul>
          <li><a href="#">Clear Containers</a></li>
          <li><a href="#">Ciao</a></li>
        </ul>
      </div>

      <div class="Footer__item">
        <h3>About Clear Technologies</h3>
        <ul>
          <li><a href="#">Contribution Guidelines</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="Footer__middle">
    <div class="container">
      <ul>
        <li><a href="#">PRIVACY</a></li>
        <li><a href="#">POLICY</a></li>
        <li><a href="#">CONTACT US</a></li>
        <li><a href="#">TERMS OF SERVICE</a></li>
        <li><a href="#">*TRADEMARKS COOKIES</a></li>
      </ul>
    </div>
  </div>

  <div class="Footer__bottom">
    <div class="container">
      <p>COPYRIGHT © 2017 INTEL CORPORATION. ALL RIGHTS RESERVED  *OTHER NAMES AND BRANDS MAY BE CLAIMED AS THE PROPERTY OF OTHERS</p>
    </div>
  </div>

</footer>
