.Search {
  margin: 0 0 0 auto;
  height: 100%;
  max-height: 57px;
  float: right;
  form {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    .form-item {
      margin: 0;
      height: 100%;
      position: relative;
      height: 56px;
      input[type="text"] {
        margin: 0;
        height: 56px;
        background: rgba(117,117,139, 0.15);
        font-family: $cl_intel_font-family;
        font-size: 0.9375em;
        border: none;
        display: none;
        color: $dark;
        padding: 0.5em 35px;
        max-width: 225px;
        @media only screen and (min-width: $cl_mobile) {
          min-width: 275px;
          max-width: 418px;
        }
        @media only screen and (min-width: $cl_sm) {
          min-width: 290px;
        }
        &:focus {
          box-shadow: none;
        }
      }
      &::before, &::after {
        position: absolute;
        top: 15px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 1.50em;
        width: 1.5em;
        text-align: center;
        color: $gastly;
        cursor: pointer;
      }
      &::before {
        display: block;
        content: "\f002";
        left: -40px;
      }
      &::after {
        content: "\f00d";
        right: 0;
        display: none;
      }
      &.active {
        input[type="text"]{
          display: block;
        }
        &:before, &:after {
          color: $dark;
        }
        &::before {
          left: 0;
        }
        &::after {
          display: block;
        }
      }
    }
    .form-actions {
      position: absolute;
      z-index: -1;
      input[type="submit"] {
        background: none;
        padding: 0;
        margin: 0 20px 0 0;
        min-width: auto;
        color: transparent;
        cursor: default;
      }
    }
  }
}
