// Text block
//
// Components: Text block
//
// Markup: text_block.twig
//
// Style guide: components.text_block
.Text {
  width: 100%;
  display: block;
  padding: 25px 0;
  @media only screen and (min-width: $cl_sm) {
    padding: 75px 0;
  }
  &__title {
    display: block;
    font-family: $cl_poppins_font-family-Light;
    letter-spacing:-0.54px;
    text-align:center;
    margin: 0 auto 25px auto;
    max-width: 750px;
  }
  &__description {
    margin: 0 20px 0 20px;
    font-family: $cl_intel_font-family-light;
    font-size: 1.3125em;
    color: $gastly;
    letter-spacing: 0.16px;
    line-height: 2.25em;
    max-width: 800px;
    display: block;
    text-align: center;
    @media only screen and (min-width: $cl_sm) {
      margin: 0 40px 0 40px;
    }
    @media only screen and (min-width: $cl_md) {
      margin: 0 auto;
    }
  }
}
