{{ attach_library('community') }}

  {% for row in community %}
    <div class="Community__item">
      <i class="fa {{ row.ico }} Community__ico"></i>
      <p class="Community__title">{{ row.title }}</p>
      <p class="Community__description"> {{ row.summary }}</p>
      <a href="{{ row.link }}" class="Button Button__primary Button__primary-small Community__link">
        {{ row.link_title }} <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  {% endfor %}
