// Hero image
//
// Components Hero image
//
// Markup: hero_image.twig
//
// .Banner-clearlinux - Use this class to display Clearlinux Project banner.
// .Banner-containers - Use this class to display Clear Containers Project banner.
// .Banner-ciao - Use this class to display Clear Technologies banner.
//
// Style guide: components.hero_image
.Banner {
  width: 100%;
  background-image: none;
  position: relative;
  padding: 50px 0;
  @media only screen and (min-width: $cl_sm) {
    padding: 120px 0;
  }
  &-top_stories {
    padding-bottom: 50px;
    @media only screen and (min-width: $cl_sm) {
      padding-bottom: 0px;
    }
  }
  &-clearlinux,
  &-containers,
  &-ciao {
    .Banner__texture {
      display: none;
    }
  }
  &-technologies {
    background-image:linear-gradient(-42deg, #064f8b 0%, #006ec8 47%, #27bef3 86%, #85e2b7 100%, #85e2b7 100%);
  }
  &-clearlinux {
    background-image:linear-gradient(90deg, #00aeff 3%, #35bff1 46%, #86e0b9 88%);
    .Banner__container-right {
      @media only screen and (min-width: $cl_sm) {
        display: block;
      }
    }
  }
  &-containers {
    background-image:linear-gradient(134deg, #3023ae 0%, #c96dd8 100%);
  }
  &-ciao {
    background-image:linear-gradient(-90deg, #2ddaa5 3%, #27bef3 50%, #2ddaa5 100%);
  }
  &__light {
    width: 100%;
    height: 185px;
    background-image: url(../images/hero_image/light.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    top: 0;
    display: none;
    @media only screen and (min-width: $cl_sm) {
      display: block;
    }
  }
  &__texture {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/hero_image/texture-banner.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
  &__container {
    @include container();
    padding: 0 10px;
    position: relative;
    z-index: 10;
    &-left,
    &-right {
      @include span(24);
    }
    &-left {
      text-align: center;
      @media only screen and (min-width: $cl_sm) {
        text-align: left;
        @include span(14);
      }
    }
    &-right {
      img {
        display: none!important;
        max-height: 300px;
        margin-left: auto;
        width: auto!important;
        max-width: 100%;
        @media only screen and (min-width: $cl_sm) {
          display: block!important;
        }
      }
      @media only screen and (min-width: $cl_sm) {
        @include span(10);
      }
    }
  }
  &__subheader {
    font-family: $cl_intel_font-family;
    color: $white;
    letter-spacing:2px;
    text-align: center;
    width: 90%;
    margin: 0 auto 16px auto;
    @media only screen and (min-width: $cl_sm) {
      text-align:left;
      width: auto;
      margin: 0 0 16px 0;
    }
  }
  &__title {
    color: $white;
    width: 85%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: $cl_intel_font-family;
    font-size: 1.75em;
    letter-spacing:0;
    line-height:1.5em;
    @media only screen and (min-width: $cl_sm) {
      width: auto;
      margin: 0;
      text-align: left;
      font-size: 2.25em;
    }
  }
  &__button {
    margin: 21px 0 0 0;
    @media only screen and (min-width: $cl_sm) {
      margin: 21px 0 0 0;
    }
  }
  &__secondary {
    display: none;
    @media only screen and (min-width: $cl_sm) {
      display: block;
    }
  }
  .Top {
    display: none;
    @media only screen and (min-width: $cl_sm) {
      display: block;
    }
  }
}
