{% if banners_var.top_projects.projects %}
 {% set top_stories_class = 'Banner-top_stories'  %}
{% endif %}
<div class="Banner {{top_stories_class}} {{ type ? type : '' }} {{ modifier_class }}">
	<div class="Banner__light"></div>
	<div class="Banner__texture"></div>
	<div class="Banner__container">
		<div class="Banner__container-left">
			<p class="Banner__subheader">{{ field_subheader }}</p>
			<h1 class="Banner__title">{{ field_title }}</h1>
			{% if button is defined %}
				{% set vars = {
						'title': button.title,
						'ico': button.ico,
						'link': button.link,
						'modifier_class': 'Button__primary Banner__button'
					}
				%}
				{% include "@clearlinux_theme/call_to_action/call_to_action.twig" with vars %}
			{% endif %}

			{% if (link.title_link is not null) and (link.title is not null) %}
				{%
					set link_vars = {
						"title": link.title,
					  "title_link": link.title_link,
					  "link": link.link
					}
				%}

				<div class="Banner__secondary">
					{% include "@clearlinux_theme/secondary_link/secondary_link.twig" with link_vars %}
				</div>
		 {% endif %}
		</div>
		{% if field_support_image != "/" %}
	    <div class="Banner__container-right">
				<img src="{{ field_support_image }}" />
			</div>
	  {% endif %}

	</div>
	  {% if banners_var.top_projects.projects %}
			<div class="Top">
        <div class="container">
          <div class="Top__title">Top stories</div>
        </div>
        <div class="container owl-carousel owl-theme">
    				{% include "@clearlinux_theme/top_stories/top_stories.twig" with {
    				items: banners_var.top_projects.projects
    				}
    				%}
        </div>
			</div>
		{% endif %}


</div>
